<h3>Plan your Wedding!</h3> 
<a href = "/show"> Dashboard </a> 
    <a asp-controller="Home" asp-action="Logout"> Logout </a>
<form asp-controller="Wedding" asp-action="Wedform">
    <label for='SpouseOne'>SpouseOne: </label>
        <input type='SpouseOne' name='SpouseOne'>
    <label for='SpouseTwo'>SpouseTwo: </label>
        <input type='SpouseTwo' name='SpouseTwo'>
    <label for='WeddingDate'>WeddingDate: </label>
        <input type='date' name='WeddingDate'>
    <label for='WeddingAddress'>WeddingAddress: </label>
        <input type='WeddingAddress' name='WeddingAddress'>
    <button type='submit' class='btn btn-default'>Create</button>
    
</form>
